<%include ../templates/header.ejs%>
<%include ../templates/nav.ejs%>

<div class="container profile">
    <div class="text-center" >
        <h1>welcome</h1>

        <div class="userimg">

        </div>
    </div>

</div>

<%include ../templates/footer.ejs%>
